/* BASIC STYLING FOR ALL ELEMENTS */
:root {
    --dark-blue: #1f3c4a;
    --light-blue: #b4bfbf;
    --beige: #f1d7b9;
    --yellow: #fdf09e;
    --white: rgb(255, 255, 255);
    --black-fade: rgba(0, 0, 0, .7);
    --overlay: var(--black-fade);
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem;
    background-color: var(--dark-blue);
    color: var(--white);
}

/* MOBILE STYLING FOR 375 X 667 (IPHONE-SE) */
h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 700;
}

h1,
.intro {
    text-align: center;
    padding-top: 1rem;
    /* font-weight: 400;s */
    font-family: 'Cinzel Decorative', cursive;

}

p {
    line-height: 1.5rem;
    font-weight: 300;
}

.intro {
    font-weight: 300;
}

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user_input {
    margin: 1.5rem 0;
    padding: 0.2rem 1rem;
    border-radius: 10px;
}

#submit_button {
    padding: 0.2rem 1.2rem 0.2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.character_introduction {

    text-align: left;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.GoT_books li {
    margin-left: 3rem;
    color: var(--yellow);
    font-family: 'Roboto Slab', serif;
}

.GoT_books a {
    text-decoration: none;
}

.GoT_books li:hover {
    text-decoration: underline;
}

#GoT_information {
    text-align: center;
}

.extracted_data_style {
    font-weight: bold;
    text-decoration: none;
    color: var(--yellow);
    font-family: 'Roboto Slab', serif;
}


.invalid_entry {
    color: red;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(176, 176, 176, 0.75), rgba(0, 0, 0, 0));
    width: 40%;
    margin: 0.5rem auto 1.5rem;
}

.RL_info_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.RL_info_container h2 {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 700;
    margin-top: 2rem;
}

.RL_info_container img {
    border-radius: 0.5rem;
    margin: 1rem 0;
}

.RL_info {
    text-align: center;

}

.Movie_info_container h2 {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
}

.movie_box_container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2rem
}

.movie_box {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.movie_box :nth-child(2) {
    font-weight: bold;
    font-size: 1.2rem;

}

.movie_box a {
    position: relative;
}

.poster_overlay {
    width: 220px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.612);
    color: var(--dark-blue);
    font-size: 2.5rem;
    font-weight: 400;
    border-radius: 0.5rem;

}

.poster_overlay:hover {
    opacity: 1;

}



/* make the actor's pic and movie gird responsive */
@media screen and (min-width: 0px) {
    .RL_info_container img {
        width: 45%;
    }

    .movie_box_container {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 576px) {
    .RL_info_container img {
        width: 30%;
    }

    .movie_box_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .RL_info_container img {
        width: 25%;
    }

    .movie_box_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1400px) {
    .RL_info_container img {
        width: 20%;
    }

    .movie_box_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}